# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Testing
.pytest_cache/
.coverage

# IDE
.vscode/
.idea/

# Package build
*.egg-info/
dist/
build/

# Virtual environments
venv/
env/

# OS files
.DS_Store
Thumbs.db
/.luarc.json
